.advantages {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #f1f1f1;
	color: #000;

	font-size: 18px;
}

.advantages .container{
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
}

.advantages__title{
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 24px;
	font-weight: normal;

	text-align: center;
	text-transform: uppercase;
}

.advantages__list{
	margin: 0;
	padding: 0 40px;

	text-align: center;

	font-size: 16px;

	text-transform: uppercase;

	list-style: none;

}

.advantages__item-title {
	margin: 0;
	margin-bottom: 10px;

	font-weight: normal;
}

.advantages__item-description {
	margin: 0;
	margin-bottom: 25px;

	font-size: 16px;

	text-transform: none;
}

@media only screen and (min-width: 768px) {
	.advantages {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.advantages__title{
		font-size: 30px;
		margin-bottom: 25px;
	}

	.advantages__list{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}

	.advantages__item{
		width: 300px
	}
}

@media only screen and (min-width: 988px) {
	.advantages {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.advantages__title{
		font-size: 36px;
		margin-bottom: 50px;
	}

	.advantages__list{
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		font-size: 17px;

	}

	.advantages__item{
		width: 295px;
	}
}