.container {
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
}

.visible-hidden{
	display: none;
}


.page-header {
	display: flex;
	flex-direction: column;
	background-color: #0f0;

	font-family: 'Montserrat', sans-serif;
	.nav {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 1px solid #000;
			.logo {
				text-transform: uppercase;
				font-size: 24px;
				font-family: 'Notify', sans-serif;
				margin: 0;
				padding: 0;
				.logo--decor {
					text-transform: none;
				}
			}
			.tel {
				font-size: 16px;
			}
			.main-nav{
					.main-nav__toggle {
						width: 25px;
						height: 25px;
					}
					.main-nav__menu{
						display: none;
						padding: 0;
						margin: 0;

						list-style: none;
					}
				}
		}
	};
	.header__content{
		background-image: url("../img/header/main-foto.jpg");
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 260px;
		padding-top: 30px;
		.container{
			.header__content-title {
				margin: 0 auto;
				margin-bottom: 20px;

				font-size: 25px;
				font-weight: bold;

				text-align: center;
			}
			.header__content-description{
				list-style: none;

				width: 380px;

				margin: 0 auto;

				font-size: 16px;

				.header__content-description-item {
					margin-bottom: 15px;
					margin-left: 40px;

					font-weight: bold;

				}
			}
		}
		
	}
};

@media only screen and (min-width: 768px) {
	.page-header {
		.nav {
			background-color: blue;
			.container {
				.logo {
					font-size: 26px;					
				}
				.tel {
					font-size: 13px;
					order: 2;
				}	
				.main-nav{
					.main-nav__toggle {
						display: none;
					}
					.main-nav__menu {
						display: flex;
						justify-content: space-between;

						padding: 0;
						margin: 0;

						list-style: none;

						.main-nav__link {
							margin-right: 10px;

							font-size: 13px;

							color: #000;

							text-decoration: none;
						}
					}
				}			
			}
		}
		.header__content{
			padding-top: 50px;
			.container{
				width: 640px;
				.header__content-title{
					font-size: 30px;
				}
				.header__content-description{
					width: 500px;
					.header__content-description-item{
						font-size: 20px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 988px) {
	.page-header {
		.nav {
			min-height: 100px;
			background-color: #f0f;
			.container {
				width: 960px;
				.logo {
					font-size: 32px;
				}
				.tel {
					font-size: 16px;
				}
				.main-nav{
					.main-nav__menu {
						.main-nav__link {
							margin-right: 15px;

							font-size: 16px;
						}
					}
				}
			}
		}
		.header__content{
			padding-top: 50px;
			padding-bottom: 345px;
			.container{
				width: 960px;
				.header__content-title{
					font-size: 38px;
				}
				.header__content-description{
					width: 500px;
					.header__content-description-item{
						font-size: 20px;
					}
				}
			}
		}
	}
}



