.types-of-cleaning{
	margin: 0;
	padding:  0;
	padding-top: 20px;
	padding-bottom: 0;

	background-color: #2d333f;
	color: #fff;

	font-family: 'Montserrat', sans-serif;
	font-size: 18px;

	.container {
		margin: 0 auto;
		padding: 0;
		max-width: 960px;

		.types-of-cleaning__inner{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;

			margin: 0 auto;
			padding: 0;

			.types-of-cleaning__title{
				align-self: center;

				margin: 0;
				margin-bottom: 15px;
				padding: 0;

				font-size: 24px;
				font-weight: normal;

				text-transform: uppercase;
			}

			.types-of-cleaning__menu{
				display: flex;
				flex-direction: column;
				margin: 0;
				padding: 0;

				text-align: center;

				list-style: none;

				border-top: 1px solid #fff;
				
				.types-of-cleaning__item {
					padding: 15px 0;
					margin-bottom: 0;

					font-size: 15px;
					
					text-transform: uppercase;
					border-bottom: 1px solid #fff;

					.types-of-cleaning__item-description{

						.types-of-cleaning__item-text{
							font-size: 12px;

							text-transform: none;
						}
					}					
				}				
			}

			.types-of-cleaning__works {
				display: none;

				padding: 0;

				font-size: 15px;

				text-transform: none;

				.types-of-cleaning__work-list {
					margin: 0;
					padding: 0;

					list-style: none;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.not-show{
		display: block;
	}

	.types-of-cleaning{
		padding-top: 50px;
		padding-bottom: 50px;

		.container{
			.types-of-cleaning__inner{
				.types-of-cleaning__title{
					font-size: 30px;
				}

				.types-of-cleaning__menu{
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: center;

					margin: 0;
					padding: 0 20px;

					border: 0;

					.types-of-cleaning__item{
						padding: 20px;
						max-width: 310px;
						border: 0;
					}
				}

				.types-of-cleaning__works{
					display: none;
				}
			}
		}
	}
}

@media only screen and (min-width: 988px) {
	.not-show{
		display: none;
	}

	.types-of-cleaning{
		padding-top: 100px;
		padding-bottom: 100px;

		.container{
			.types-of-cleaning__inner{
				.types-of-cleaning__title{
					font-size: 36px;
					margin-bottom: 50px;
				}

				.types-of-cleaning__menu{
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-around;

					margin: 0;
					margin-bottom: 30px;
					padding: 0;

					.types-of-cleaning__item{
						max-width: 300px;

						padding: 0;

						font-size: 20px;
					}
				}

				.types-of-cleaning__works {
					display: block;
					margin: 0;
					padding: 0;

					.types-of-cleaning__work {

						display: flex;
						justify-content: space-around;

						margin: 0;
						padding: 0;

						font-size: 17px;
						&--complex{
							display: none;
						}
						&--general{
							display: none;
						}
						&--after-repair{
							display: none;
						}
						&-list{
							margin: 0;
							padding: 0;

							list-style: none;
							.types-of-cleaning__work-item{
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
}